<!DOCTYPE html>
<html lang="en">
<head>
  <link href='https://fonts.googleapis.com/css?family=Advent+Pro:200' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Khand' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link rel="icon" href="/assets/images/favicon.ico">  
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  
  <title>{{ page.title }}</title>
  
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="/js/main.js"></script>
  {{ page.head }}
</head>

<body>
  <header>  
    <div>  
      <ul>
        <li><a href="https://github.com/midoriarmstrong"><span title="My Github" class="icon github"></span></a></li>
        <li><a href="https://ca.linkedin.com/in/midori-armstrong-19433012b"><span title="My LinkedIn" class="icon linkedin"></span></a></li>
        <li class="centre"><a href="/"><img src="/assets/images/profile-pic.png" alt="My Profile Picture" style="width:6rem;height:6rem;"></a></li>
        <li><a href="/assets/files/midoriarmstrong-resume.docx"><span title="R&#233;sum&#233; (DOCX)" class="icon word"></span></a></li>
        <li><a href="/assets/files/midoriarmstrong-resume.pdf"><span title="R&#233;sum&#233; (PDF)" class="icon pdf"></span></a></li>  
      </ul>
    </div> 
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/discrete-math">Discrete Math Tools</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><span class="icon hamburger"></span></li>
      </ul>
    </nav>
  </header>

  <main>
    <div>
      <h1>{{ page.heading }}</h1>
      {{ content }}
    </div>
    <a href="#"><span>&#x25b2;</span></a>
    <p>&#xA9; Copyright Midori Armstrong 2016</p>
  </main>
</body>
</html>
