---
---
body main>div>section 
  
  span 
    display: inline-block 
    font-family: Georgia, "Times New Roman", Times, serif
    
  h2
    margin-right: 0
    
  h3, h4, h5
    display: none
    
  h5 
    font-family: "Montserrat", "Tahoma", "Geneva", sans-serif
    
  h4 ~ h5 
    margin-top: 1rem
    
  >div 
    display: none 
    
    p
      word-wrap: break-word
      word-break: break-all
  